# 依赖
node_modules/
.pnp/
.pnp.js

# Python
__pycache__/
*.py[cod]
**/__pycache__/
**/*.py[cod]
**/*.pyc
**/*.pyo
**/*.pyd
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# 构建输出
/build
/dist
/out

# 测试
/coverage

# 环境变量
.env
.env.local
/.env
.env.development.local
.env.test.local
.env.production.local

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 编辑器
.idea/
.vscode/
*.swp
*.swo

# 操作系统
.DS_Store
Thumbs.db

# 数据库
*.sqlite
*.db

# 临时文件
tmp/
temp/

# Supabase
.supabase/
**/supabase/.temp/
